<section class="">
    <div class="container max-w-full">
      <div class="row">
        <div class="min-h-[980px] bg-white py-10 lg:col-6 lg:py-[114px]">
          <div class="mx-auto w-full max-w-[480px]">
            
            <h1 class="mb-4 text-center text-4xl">Change Password</h1>
            {{#if error}}
              <p class="text-xl m-3" style="color: red;">{{error}}</p>
            {{/if}}
            {{#if success}}
              <p class="text-xl m-3 flex" style="color: green;">{{success}}</p>
            {{/if}}
            
            <form action="/users/change-password" method="POST" id="formChangePassword">
              
              <div class="form-group mt-4">
                <label for="old-password" class="form-label">Old Password</label>
                <input
                  type="password"
                  id="old-password"
                  class="form-control"
                  name="oldPassword"
                  placeholder="Your Old Password"
                  required
                />
              </div>
  
              <div class="form-group mt-4">
                <label for="new-password" class="form-label">New Password</label>
                <input
                  type="password"
                  id="new-password"
                  class="form-control"
                  name="newPassword"
                  placeholder="Your New Password"
                  required
                />
              </div>
  
              <div class="form-group mt-4">
              <label for="confirm-password" class="form-label">Confirm Password</label>
                <input
                  type="password"
                  id="confirm-password"
                  class="form-control"
                  name="confirmPassword"
                  placeholder="Your New Password"
                  required
                />
              </div>
  
              <button class="btn btn-primary mt-10 block w-full" type="submit">
                  Change Password
              </button>
              
              {{#if message}}
              <div class="col-md-12">
                <div class="p-3 mt-3 alert-warning">
                  {{{message}}}
                </div>
              </div>
              {{/if}}
  
            </form>
            
          </div>
        </div>
  
        <div
          class="auth-banner bg-gradient flex flex-col items-center justify-center lg:col-6"
        >
          <img
            class="absolute top-0 left-0 h-full w-full"
            src="/images/login-banner-bg.svg"
            alt=""
          />
          <div class="w-full text-center">
            <h2 class="h3 text-white pb-10">
              Develop thinking ability, <br />
              filter content, increase concentration.
            </h2>
            <div class="swiper auth-banner-carousel">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img
                    width="667"
                    height="557"
                    class="mx-auto"
                    src="/images/nhung-cau-noi-hay-ve-sach-1.jpg"
                    alt=""
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    width="667"
                    height="557"
                    class="mx-auto"
                    src="/images/nhung-cau-noi-hay-ve-sach-2.jpg"
                    alt=""
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    width="667"
                    height="557"
                    class="mx-auto"
                    src="/images/nhung-cau-noi-hay-ve-sach-3.jpg"
                    alt=""
                  />
                </div>
              </div>
              <div class="pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/scripts/passwordValidation.js"></script>
  </section>