<section class="">
  <div class="container max-w-full">
    <div class="row">
      <div class="min-h-[980px] bg-white py-10 lg:col-6 lg:py-[114px]">
        <div class="mx-auto w-full max-w-[480px]">
          <h1 class="mb-4 text-center text-4xl">Reset Password</h1>
          {{#if error}}
            <p class="text-xl m-3" style="color: red;">{{error}}</p>
          {{/if}}
          {{#if success}}
            <p class="text-xl m-3 flex" style="color: green;">{{success}}</p>
          {{/if}}
          <form action="/reset-password" method="POST">
            <div class="form-group mt-4">
              <label for="password" class="form-label">New Password</label>
              <input
                type="password"
                id="password"
                class="form-control"
                name="password"
                placeholder="Enter new password"
                required
              />
            </div>
            <div class="form-group mt-4">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input
                type="password"
                id="confirmPassword"
                class="form-control"
                name="confirmPassword"
                placeholder="Confirm new password"
                required
              />
            </div>
            <input
              class="btn btn-primary mt-10 block w-full"
              type="submit"
              value="Reset Password"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
