<section class="page-hero py-16 bg-black bg-cover bg-center">
  <div class="container">
    <div class="text-center">
      <ul class="breadcrumb inline-flex h-8 items-center justify-center space-x-2 rounded-3xl bg-theme-light px-4 py-2">
        <li class="leading-none text-dark">
          <a class="inline-flex items-center text-primary" href="#">
            <svg class="mr-1.5" width="15" height="15" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.1769 15.0588H10.3533V9.41178H5.64744V15.0588H2.82391V6.58825H1.88274V16H14.118V6.58825H13.1769V15.0588ZM6.58862 15.0588V10.353H9.41215V15.0588H6.58862ZM15.8084 6.09225L15.2512 6.85178L8.00038 1.52472L0.749559 6.8499L0.192383 6.09131L8.00038 0.357666L15.8084 6.09225Z" fill="black" />
            </svg>
            <span class="text-sm leading-none">Home</span>
          </a>
        </li>
        <li class="leading-none text-dark">
          <span class="text-sm leading-none">/ Cart</span>
        </li>
      </ul>
    </div>
    <header class="bg-white shadow-md mt-8">
      <div class="container mx-auto py-4 justify-between items-center">
        <nav class="w-full">
          <ul class="flex justify-between">
            <li class="container-product text-gray-600">
              <div class="flex items-center space-x-4">
                <input type="checkbox" >
                <span>Sản Phẩm</span>
              </div>
            </li>
            <li class="text-gray-600 -ml-10">Đơn Giá</li>
            <li class="text-gray-600 -ml-10">Số Lượng</li>
            <li class="text-gray-600 -ml-10">Số Tiền</li>
            <li class="text-gray-600 -ml-10">Thao Tác</li>
          </ul>
        </nav>
      </div>
    </header>

    <header class="bg-white shadow-md mt-8">
      <div class="container mx-auto py-4 justify-between items-center">
        <nav class="w-full">
          <ul class="flex justify-between items-center">
            <li class="container-product text-gray-600">
              <div class="flex items-center space-x-4">
                <input type="checkbox" >
                    <div class="mr-4 flex space-x-3 items-center">
                         <div>
                              <img src="https://via.placeholder.com/80x80" alt="Book1" class="w-20 h-20 object-cover rounded-lg shadow-md">
                         </div>
                         <div class="container-inforbook">                              
                              <h3 class="text-lg font-medium">Book1</h3>
                              <p class="text-gray-500">Author</p>

                         </div>

                    </div>
              </div>
            </li>
            <li class="text-gray-600 -ml-10">               
               <span class="text-primary font-medium">149.500 ₫</span>
            </li>
            <li class="text-gray-600 -ml-10">
               
               <div class="flex items-center justify-between">
                    <div class="flex items-center">
                      <input type="number" value="1" min="1" style="width: 70px; height: 41.5px;" class="text-center border rounded">
                    </div>
               </div>

            </li>
            <li class="text-gray-600 -ml-8 flex items-center">     
               <span class="text-primary font-medium" style="padding-right: 20px">149.500 ₫</span>
               </li>
            <li class="text-gray-600 -ml-10 flex items-center" style="padding-right: 15px">Xóa</li>
          </ul>
        </nav>
      </div>
    </header>
    


    
    <header class="bg-white shadow-md mt-8">
      <div class="container mx-auto py-4 justify-between items-center">
        <nav class="w-full">
          <div class="flex items-center space-x-4">
            <span class="text-lg font-medium ">Total Payment (0 Products): 0 VND</span>
            <button class="justify-end bg-primary text-white px-6 py-3 rounded-lg shadow-md hover:bg-primary-dark">Thanh Toán</button>
          </div>
        </nav>
      </div>
    </header>
  </div>
</section>