#book-image {
  width: 350px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

#now-icon, #tomorrow-icon, #freeship-icon {
  width: 36px;
  height: auto;
}

#order-icon {
  width: 24px;
  height: auto;
}

#reviews-section {
  margin-top: 20px;
}

.review {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.add-review {
  margin-top: 20px;
}

#pagination-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.star-rating input {
  display: none;
}

.star-rating label {
  font-size: 2rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating input:checked ~ label {
  color: #f5b301;
}

.star-rating input:hover ~ label {
  color: #f5d372;
}

.star-rating label:hover ~ label {
  color: #f5d372;
}